 <!-- <script>
  function fixNumber(index, value) {
    return value
    .replace(/\D/g, "")
    .replace(/\B(?=(\d{3})+(?!\d))/g, ",")
    ;
  }

  $(document).ready(function(){

    $('input.small-input').keyup(function(event) {

  // skip for arrow keys
  if(event.which >= 37 && event.which <= 40) return;


  // format number
  $(this).val(fixNumber);


});


    $('input.long-input').keyup(function(event) {

  // skip for arrow keys
  if(event.which >= 37 && event.which <= 40) return;


  // format number
  $(this).val(fixNumber);


});

  });
  </script> -->
  <form id="mortgagecalc" name="mortgagecalc" accept-charset="UTF-8" action="/nyc/mortgage_rates/estimated_payment_modal/1213489" class="large" method="post" onsubmit="return false">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
      <input name="authenticity_token" type="hidden" value="qNV9jHtMKj5DKAxE9r3BdTOAY676NaRgMMWWJ1HAH78=">
    </div>
    <table class="table">
      <tbody>
        <tr>
          <th>
            <label>Sale Price</label>
          </th>
          <td colspan="3">
            <input type="text" id="price" name="price" class="long-input" value="$500,000" oninput="calculate_everything()">
          </td>
        </tr>

        <tr>
          <th><label>Down Payment</label>
          </th>
          <td>
            <input type="text" id='downpayment' name="down_payment_amount" class="small-input" value="$100,000" oninput="calculate_everything()">(<span id="span_downpayment_percentage" class="right-span downpayment_percentage">20.0%</span>)
          </td>


<!--           <tr>
            <td>&nbsp;</td>
            <td colspan="2">
              <span class="min_payment">
                        <b>
                          $100,000 Minimum (20.0%)
                        </b>
                      </span>
            </td>
          </tr> -->

          <tr>
            <th colspan="1">Mortgage Amount</th>
            <td colspan="6"><span class="mortgage_amount" id="span_mortgage_amount">$400,000</span></td>
          </tr>

          <tr>
            <th><label>Interest Rate</label>
            </th>
            <td>
              <input type="text" id='downpayment' name="rate" class="small-input" value="4.75" oninput="calculate_everything()">%
            </td>

          </tr>

          <tr>
            <th>
              <label>Term</label>
            </th>
            <td colspan="3">
              <select class="long-input" name="term" id="term" onChange="calculate_everything()">
                            <option value="Select a term">Select a term</option>
                            <option value="30" selected="selected">30 Years</option>
                            <option value="15">15 Years</option>
                            <option value="7">7 Years</option>
                          </select>
            </td>
          </tr>



          <tr>
            <th>Mortgage Payment</th>
            <td><span class="mortgage_payment" , id='span_mortgage_payment'>$0</span></td>
          </tr>

          <tr>
            <th>
              <label>Maintenance</label>
            </th>
            <td colspan="3">
              $1,000
            </td>
          </tr>

          <input id="maintenance" name="maintenance" type="hidden" value="1000.0">


          <input id="taxes" name="taxes" type="hidden" value="0">

          <tr class="align-lefty border-top">
            <th>
              Est. Monthly Payment
            </th>
            <td class="highlight">
              <span class="approx monthly_payment" id='approx_monthly_payment'>$0</span>
            </td>
          </tr>

          <tr class="align-right border-bottom">
            <td colspan="6" class="lighter">
              4.75% Rate Used. Does not include home insurance or tax implications
            </td>
          </tr>
      </tbody>
    </table>
  </form>


  <script>
    function calculate_everything(){
      var downpayment_percentage
      var elmnt = document.getElementById("price");
      var price=elmnt.value;
      
      price=price.substring(1);
      
      price= price.replace(/,/g, "");
      price=parseFloat(price);
      console.log(price);
      elmnt=document.getElementById("downpayment");

      var myValue2 = $('#price').val();
            myValue2=myValue2.replace(/,/g, "");
            myValue2=myValue2.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            console.log("myValue2: " + myValue2);
      if (myValue2[0] != '$') {
        myValue2 = '$' + myValue2;
      }
      $('#price').val(myValue2);
      
      var myValue = document.getElementById("downpayment").value;
      myValue=myValue.replace(/,/g, "");
      myValue=myValue.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      //console.log(myValue);
  

     if (myValue.indexOf("$") != 0)
     {
        //myValue1=myValue.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        //console.log(myValue);
        
  
        myValue=  '$' + myValue;
     }
     
     //myValue1=myValue.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
     //console.log(myValue)*/
  
  
     document.getElementById("downpayment").value = myValue;

  
     var downpayment=elmnt.value;
      downpayment=downpayment.substring(1);
      downpayment=downpayment.replace(/,/g, "");
      downpayment=parseFloat(downpayment);
  
      if (downpayment<price) {
         downpayment_percentage=(100 * downpayment/price).toFixed(2);
      } else {
          downpayment_percentage=0;
      }
  
      downpayment_percentage_str=downpayment_percentage.toString()+'%';
      document.getElementById('span_downpayment_percentage').innerHTML=downpayment_percentage_str;
  
  
      elmnt=document.getElementById("term")
      var years = elmnt.options[elmnt.selectedIndex].value;  
      years=parseInt(years);
  
      elmnt=document.getElementById("maintenance")
      var monthly_maintenance=elmnt.value;
      //console.log(monthly_maintenance);
      monthly_maintenance=monthly_maintenance.replace(/,/g, "");
      //console.log(monthly_maintenance);
      monthly_maintenance=parseFloat(monthly_maintenance);
      //console.log(monthly_maintenance);
  
      var loanprincipal = Math.max(price - downpayment,0);
      var months = years * 12;
      var interest = 4.75 / 1200;
  
      mortgage_amount_str='$'+loanprincipal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      document.getElementById('span_mortgage_amount').innerHTML=mortgage_amount_str;
  
      var mortgage_monthly_payment=(loanprincipal * interest / (1 - (Math.pow(1/(1 + interest), months))));
      //console.log(monthly_payment);
      mortgage_monthly_payment_str="$"+mortgage_monthly_payment.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      document.getElementById('span_mortgage_payment').innerHTML=mortgage_monthly_payment_str;
      
      var monthly_payment = mortgage_monthly_payment + monthly_maintenance;
      //console.log(mortgage_monthly_payment);
      //console.log(monthly_maintenance);
      //console.log(monthly_payment);
      var approx_monthly_payment_str='$'+monthly_payment.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      document.getElementById('approx_monthly_payment').innerHTML=approx_monthly_payment_str;
     }
  </script>