<div class="col-sm-9">
  <div class="container-fluid">
		<%= form_for @listing, html: {class: "form-horizontal", role: "form"} do |f| %>
      <div class="form-group">
        <h2>Address</h2>
      </div> <!-- Address heading -->

      <div class="form-group">
      	<%= f.label :borough, class: "col-sm-2 control-label" %>
        <div class="col-lg-4 col-md-4 col-sm-2">
          <%= f.text_field :borough, class: "form-control" %> 
        </div> <!-- input-wrapper (Borough) col-sm-2 -->

      </div> <!-- form-group (Borough) -->

      <div class="form-group">
      	<%= f.label :address, class: "col-sm-2 control-label" %>
        <div class="col-lg-5 col-md-5 col-sm-3">
          <%= f.text_field :address, class: "form-control" %>
        </div>
        <!-- input-wrapper col-sm-3 (Address) -->
        <%= f.label :unit, 'Unit#', class: "col-sm-1 control-label" %>
        <div class="col-sm-2">
          <%= f.text_field :unit, class: "form-control" %>
        </div> <!-- input-wrapper col-sm-2 (Unit) -->
      </div> <!-- form-group (Address, Unit) -->

      <div class="form-group">
        <h2>Size/Description</h2>
      </div> <!-- Size/Description heading -->

      <div class="form-group">
        <%= f.label :property_type, class: "col-sm-2 control-label" %>
        <div class="col-sm-2 col-md-3 col-lg-3">
          <%= f.text_field :property_type, class: "form-control" %>
        </div>
        <!-- input-wrapper col-sm-2 (Type) -->
        <%= f.label :size, class: "col-sm-1 control-label" %>
        <div class="col-sm-2 col-md-3 col-lg-3">
          <div class="input-group">
            <%= f.number_field :size, class: "form-control" %>
            <div class="input-group-addon">ft<sup>2</sup></div>
          </div> <!-- input-group size+addon -->
        </div> <!-- input-wrapper col-sm-2 (Size) -->
      </div> <!-- form-group (Type, Size) -->

      <div class="form-group">
        <%= f.label :bedrooms, class: "col-sm-2 control-label" %>
        <div class="col-sm-2">
          <div class="input-group">
            <%= f.number_field :bedrooms, class: "form-control" %>
            <div class="input-group-btn">
              <a tabindex="0" class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Help" data-content="Some help on the number of bedrooms" data-container="body" data-placement="top"><span class="glyphicon glyphicon-question-sign"></span></a>
            </div> <!-- input-group-btn -->
          </div> <!-- input-group (Bedrooms+helpbtn) -->
        </div> <!-- input-wrapper col-sm-2 (Bedrooms) -->
        <%= f.label :bathrooms, class: "col-sm-2 control-label" %>
        <div class="col-sm-2">
          <%= f.number_field :bathrooms, class: "form-control" %>
        </div> <!-- input-wrapper col-sm-2 (Bathrooms) -->
        <%= f.label :rooms, 'Total Rooms', class: "col-sm-2 control-label" %>
        <div class="col-sm-2">
          <div class="input-group">
            <%= f.number_field :rooms, class: "form-control" %>
            <div class="input-group-btn">
              <a tabindex="0" class="btn btn-primary" role="button" data-toggle="popover" data-trigger="focus" title="Help" data-content="Some help on the number of total bedrooms" data-container="body" data-placement="top"><span class="glyphicon glyphicon-question-sign"></span></a>
            </div> <!-- input-group-btn -->
          </div> <!-- input-group (Total Rooms + helpbtn) -->
        </div> <!-- input-wrapper col-sm-2 (Total Rooms) -->
      </div> <!-- form-group (Bedrooms, Bathrooms, Total Rooms) -->
      <div class="form-group">
        <%= f.label :website, class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <%= f.text_field :website, class: "form-control" %>
        </div> <!-- input-wrapper, col-sm-5 -->
      </div> <!-- form-group (website) -->
      <div class="form-group">
        <%= f.label :description, class: "col-sm-2 control-label" %>
        <div class="col-sm-8">
          <%= f.text_area :description, class: "form-control" %>
        </div> <!-- input-wrapper, col-sm-8 -->
      </div> <!-- form-group (description) -->

      <div class="form-group">
        <h2>Price</h2>
      </div> <!-- Price heading -->

      <div class="form-group">
        <%= f.label :price, class: "col-sm-3 control-label" %>
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <%= f.number_field :price, class: "form-control" %>
          </div> <!-- input-group ($ + Price) -->
        </div> <!-- input-wrapper, col-sm-3 -->
      </div> <!-- form-group (price) -->

      <div class="form-group"></div> <!-- spacer group -->

      <div class="form-group">
        <%= f.label :taxes, class: "col-sm-3 control-label" %><span class="per-month-label">per month</span>
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <%= f.number_field :taxes, class: "form-control" %>
          </div> <!-- input-group ($ + Taxes) -->
        </div> <!-- input-wrapper, col-sm-3 -->
      </div> <!-- form-group (taxes) -->

      <div class="form-group">
        <%= f.label :maintenance, 'Maintenance / Common Charge', id: "CC-per-month-label", class: "col-sm-3 control-label" %><span class="per-month-label">per month</span>
        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <%= f.number_field :maintenance, class: "form-control" %>
          </div> <!-- input-group ($ + Maintenance) -->
        </div> <!-- input-wrapper, col-sm-3 -->
      </div> <!-- form-group (maintenance) -->

      <div class="form-group">
        <h2>In-Unit Amenities</h2>
      </div> <!-- Unit Amenities heading -->

      <div class="col-sm-4">
        <div class="checkbox">
        	<%= f.label :balcony do %>
         		<%= f.check_box :balcony %>
         		Balcony
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :courtyard do %>
         		<%= f.check_box :courtyard %>
         		Courtyard
        	<% end %>
        </div>        

        <div class="checkbox">
        	<%= f.label :dishwasher do %>
         		<%= f.check_box :dishwasher %>
         		Dishwasher
        	<% end %>
        </div>
			</div> <!-- first column -->

      <div class="col-sm-4">
        <div class="checkbox">
        	<%= f.label :fireplace do %>
         		<%= f.check_box :fireplace %>
         		Fireplace
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :furnished do %>
         		<%= f.check_box :furnished %>
         		Furnished
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :loft do %>
         		<%= f.check_box :loft %>
         		Loft
        	<% end %>
        </div>
      </div> <!-- second column -->

      <div class="col-sm-4">
        <div class="checkbox">
        	<%= f.label :ac do %>
         		<%= f.check_box :ac %>
         		Air Conditioner
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :recessed_lighting do %>
         		<%= f.check_box :recessed_lighting %>
         		Recessed Lighting
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :washer_dryer_in_unit do %>
         		<%= f.check_box :washer_dryer_in_unit %>
         		Washer / Dryer in Unit
        	<% end %>
        </div>
      </div> <!-- third column -->

      <div class="form-group"></div> <!-- spacer group -->

      <div class="form-group">
        <h2>Building Amenities</h2>
      </div> <!-- Unit Amenities heading -->

      <div class="col-sm-4">
        <div class="checkbox">
        	<%= f.label :lounge do %>
         		<%= f.check_box :lounge %>
         		Lounge
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :doorman do %>
         		<%= f.check_box :doorman %>
         		Doorman
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :swimming_pool do %>
         		<%= f.check_box :swimming_pool %>
         		Swimming Pool
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :elevator do %>
         		<%= f.check_box :elevator %>
         		Elevator
        	<% end %>
        </div>

      </div> <!-- first column -->

      <div class="col-sm-4">
        <div class="checkbox">
        	<%= f.label :gym do %>
         		<%= f.check_box :gym %>
         		Gym
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :laundry_in_building do %>
         		<%= f.check_box :laundry_in_building %>
         		Laundry in Building
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :parking_on_site do %>
         		<%= f.check_box :parking_on_site %>
         		Parking on Site
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :pets_allowed do %>
         		<%= f.check_box :pets_allowed %>
         		Pets Allowed
        	<% end %>
        </div>

      </div> <!-- second column --> 

      <div class="col-sm-4">
        <div class="checkbox">
        	<%= f.label :roof_deck do %>
         		<%= f.check_box :roof_deck %>
         		Roof Deck
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :free_wifi_in_lobby do %>
         		<%= f.check_box :free_wifi_in_lobby %>
         		Free WiFi in Lobby
        	<% end %>
        </div>

        <div class="checkbox">
        	<%= f.label :security_cameras do %>
         		<%= f.check_box :security_cameras %>
         		Security Cameras
        	<% end %>
        </div>
        
        <div class="checkbox">
        	<%= f.label :street_parking_available do %>
         		<%= f.check_box :street_parking_available %>
         		Street Parking Available
        	<% end %>
        </div>

      </div> <!-- third column -->

      <div class="form-group"></div> <!-- spacer group -->

      <%= f.nested_fields_for :photos do |ff| %>
        <div class="form-group">
          <%= ff.file_field :image, class: "form-control" %>
          <%= ff.remove_nested_fields_link "remove" %>
        </div>
      <% end %>
      <%= f.add_nested_fields_link :photos %>

			<div class="form-group">
				<%= f.submit class: "btn btn-primary" %>
			</div>
    <% end # form %>
  </div>  <!-- container-fluid -->
</div> <!-- col-sm-9 -->
<div class="col-sm-3">
  <div class="description-help">Help text regarding description<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, dolor blanditiis minima temporibus et nostrum harum eligendi consequuntur perferendis qui.</div>
</div> <!-- col-sm-3 -->
