<div class="col-sm-8">
	<h1>Listings:</h1>

	<% @listings.each do |listing| %>
<!-- 		<div><%= link_to listing.address, listing_path(listing) %></div> -->
  <%= link_to listing_path(listing) do %>
		<div class="listing-summary container-fluid">
			<div class="row">
				<div class="col-xs-4"><%= image_tag listing.photos[0].image.url, width: 200 %></div>
				<div class="col-xs-8">
					<%= link_to listing.address, listing_path(listing), class: "summary-address" %>
					<div class="summary-price-info">
						<span class="price"> <%= number_to_currency(listing.price, precision: 0) %> <span class="price-annotation"> Starting Bid</span></span>
						<div class="est-payment-overlay">
						<a class="est-payment" href="#">Est. Payment: <span class="payment-amount">$0</span></a>
				</div>
				<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	 <% end %>
	<% end %>
</div>