<div class="col-md-7">
	<div class="carousel-wrapper">
	<ul id="light-slider">
		<% if @listing.photos.any? %>
			<% @listing.photos.each do |photo| %>
			<li data-thumb="<%= photo.image.url(:thumb) %>">
				<%= image_tag photo.image.url, height: 375 %>
			</li>
			<% end %>
		<% else %>
			<li>
				<img src="http://placehold.it/640x480">
			</li>
		<% end %>
	</ul>

	</div>
	<hr class="hr-large">
	<div class="description">
		<h2 class="section-heading-h2">DESCRIPTION</h2>
		<p class="collapsible-description"><%= @listing.description %></p>
	</div>
	<div class="amenities big-separator">
		<h2 class="section-heading-h2">HIGHLIGHTS</h2>
		<ul>
		<% if @listing.gym? %>
				<li><%= image_tag "gym.png", width: 26 %> Gym</li>
		<% end %>
		<% if @listing.pets_allowed? %>
				<li><%= image_tag "dogs.png" %> Pets Allowed</li>
		<% end %>
		<% if @listing.doorman? %>
				<li><%= image_tag "full_time_doorman.png" %> Doorman</li>
		<% end %>
		<% if @listing.elevator? %>
				<li><%= image_tag "elevator.png" %> Elevator</li>
		<% end %>
		</ul>
	</div>
	<div class="amenities big-separator">
		<h2 class="section-heading-h2">AMENITIES</h2>
		<h6 class="details-heading">BUILDING AMENITIES</h6>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4">
					<% if @listing.lounge? %>
						<p>Lounge</p>
					<% end %>
					<% if @listing.doorman? %>
						<p>Doorman</p>
					<% end %>		
					<% if @listing.swimming_pool? %>
						<p>Swimming Pool</p>
					<% end %>		
					<% if @listing.elevator? %>
						<p>Elevator</p>
					<% end %>						
				</div>
				<div class="col-xs-4">
					<% if @listing.gym? %>
						<p>Gym</p>
					<% end %>		
					<% if @listing.laundry_in_building? %>
						<p>Laundry in Building</p>
					<% end %>	
					<% if @listing.free_wifi_in_lobby? %>
						<p>Free WiFi in Lobby</p>
					<% end %>	
					<% if @listing.security_cameras? %>
						<p>Security Cameras</p>
					<% end %>				
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>
		<h6 class="details-heading">Listing Amenities</h6>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4">
					<% if @listing.balcony? %>
						<p>Balcony</p>
					<% end %>
					<% if @listing.courtyard? %>
						<p>Courtyard</p>
					<% end %>		
					<% if @listing.dishwasher? %>
						<p>Dishwasher</p>
					<% end %>		
					<% if @listing.fireplace? %>
						<p>Fireplace</p>
					<% end %>
					<% if @listing.furnished? %>
						<p>Furnished</p>
					<% end %>							
				</div>
				<div class="col-xs-4">
					<% if @listing.loft? %>
						<p>Loft</p>
					<% end %>		
					<% if @listing.ac? %>
						<p>Air Conditioner</p>
					<% end %>	
					<% if @listing.recessed_lighting? %>
						<p>Recessed Lighting</p>
					<% end %>	
					<% if @listing.washer_dryer_in_unit? %>
						<p>Washer/Dryer in Unit</p>
					<% end %>				
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>	
		<h6 class="details-heading">Outdoor Space</h6>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4">
					<% if @listing.balcony? %>
						<p>Balcony</p>
					<% end %>
					<% if @listing.courtyard? %>
						<p>CourtYard</p>
					<% end %>		
					<% if @listing.dishwasher? %>
						<p>Dishwasher</p>
					<% end %>		
					<% if @listing.fireplace? %>
						<p>Fireplace</p>
					<% end %>
					<% if @listing.furnished? %>
						<p>Furnished</p>
					<% end %>							
				</div>
				<div class="col-xs-4">
					<% if @listing.loft? %>
						<p>Loft</p>
					<% end %>		
					<% if @listing.ac? %>
						<p>Air Conditioner</p>
					<% end %>	
					<% if @listing.recessed_lighting? %>
						<p>Recessed Lighting</p>
					<% end %>	
					<% if @listing.washer_dryer_in_unit? %>
						<p>Washer/Dryer in Unit</p>
					<% end %>				
				</div>
				<div class="col-xs-4"></div>
			</div>
		</div>	
	</div>
</div>
<div class="col-md-5">
		<h1 class="address"><%= @listing.address %></h1>
		<span class="price"><span class="price-change-arrow">↑</span> <%= number_to_currency(@listing.price, precision: 0) %> <span class="price-annotation"> Starting Bid</span></span>
		<div class="building-details">
			<span class="detail_cell first_detail_cell"><%= number_with_delimiter(@listing.size) %> ft²</span>
			<span class="detail_cell"><%= number_to_currency(@listing.price / @listing.size, precision: 0) %> per ft²</span>
			<span class="detail_cell"><%= @listing.rooms %> rooms</span>
			<span class="detail_cell"><%= @listing.bedrooms %> beds</span>
			<span class="detail_cell last_detail_cell"><%= @listing.bathrooms %> baths</span>
		</div>
		<div class="building-details"><%= @listing.property_type.capitalize || "Property" %> in <%= @listing.borough %></div>
		<div class="building-details">
			<h6 class="details-heading">Open <%= "House".pluralize(1) %></h6>
			Sun, Apr 24 (12:00 PM - 3:00 PM)
			<div class="saves_count">
        Saved by 2 users
      </div>
		</div>
		<div class="actions">
			<div class="actions-buttons">
				<a class="yellow_button" href=""><span class="glyphicon glyphicon-star"></span> SAVE</a>
				<a class="yellow_button" href=""><span class="glyphicon glyphicon-envelope"></span> SHARE</a>
				<a class="yellow_button" href=""><span class="glyphicon glyphicon-print"></span> PRINT</a>
				<a class="yellow_button" href=""><span class="glyphicon glyphicon-warning-sign"></span> PROBLEM?</a>
			</div>
			<div class="popularity">
				This sale has been saved by 0 users
			</div>
		</div>
    <div class="vitals">
    	<div class="details-info">
    		<h6 class="details-heading">Last Price Change</h6>
    		<span>↑</span> 9.84% about 3 weeks ago by $300,000
    	</div>
    	<div class="details-info">
    		<h6 class="details-heading">Days On Market</h6>
    		<%= distance_of_time_in_words_to_now(@listing.created_at) %>  on HomeStar
    	</div>
     	<div class="details-info">
    		<h6 class="details-heading">Monthly Charges</h6>
    		Maintenance: <%= number_to_currency(@listing.maintenance) %> <br>
<!--     		Monthly Taxes: <%=
    		number_to_currency(@listing.taxes) %> -->
    	</div>
     	<div class="details-info">
    		<h6 class="details-heading">Estimated Payment</h6>
				<div class="est-payment-overlay">
					<a class="est-payment" href="#">Est. Payment: <span class="payment-amount">$0</span></a>
				</div>
				<div class="clearfix"></div>
    	</div>
    </div>
    <div class="vitals">
    	<%= render 'calculator' %>
    </div>
    <div class="vitals">
			<div class="poster-promo">
				<small class="details-heading listed-by">Listed By:</small>
				<a class="poster-name" href="#"><%= @listing.user.display_name %></a>
			</div>
			<a class="yellow_button" id="contact-seller-button" href="">Contact Seller</a>
    </div>
</div>


