/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$container-large-desktop: 980px;
$grid-gutter-width: 14px;
$navbar-default-bg: #999966;
$navbar-default-link-color: black;
$navbar-default-toggle-icon-bar-bg: mediumblue;
$navbar-default-toggle-border-color: mediumblue;
$font-size-base: 18px;
$font-family-sans-serif: "Source Sans Pro",Helvetica,Arial,Geneva,sans-serif;
$navbar-border-radius: 0px;
$text-color: #1a1f2c;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0px !important;
}

.navbar .navbar-brand {
	padding: 0;
}