// Place all the styles related to the listing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//FORM STYLES

.carousel-wrapper {
  overflow: hidden;
  text-align: center;
}

.after-label {
  position: relative;
  left: -25px;
}

.description-help {
  border: 1px solid black;
  padding: 10px;
  position: relative;
  top: 265px;
  height: 200px;
}

.per-month-label {
  font-weight: bold;
  position: relative;
  left: -5px;
  top: 6px;
}

#CC-per-month-label {
  position: relative;
  top: -10px;
}

// .maindiv {
//   width: 980px;
//   margin: 0 auto;
//   height: 1000px;

// }

// .left-column, .right-column {
//   height: 800px;
//   float: left;
//   box-sizing: border-box;
// }

// .left-column{

//   width: 588px;
//   padding-right: 14px;
//   overflow: hidden;
// }

// .left-column img {
//   display: block;
//   margin: 0 auto;
// }

// .right-column {
//   width: 392px;
//   padding: 0;
// }

// .image-slider {
//   height: 400px;
//   width: 576px;
//   overflow: hidden
// }

// .navbar.navbar-inverse {
//   border-radius: 0px;
// }

a, a:link, a:hover, a:active, a:focus {
  color: #1a1f2c;
  text-decoration: none
}

.building-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  font-family: "Source Sans Pro",Helvetica,Arial,Geneva,sans-serif;
  margin: 0;
}

.detail-cell {
  border-right: 1px solid #e5e5e5;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.6em;
}

.fifth-detail-cell {
  border-right: none;
}

.details-info {
  padding: 3px;
  border-top: 1px solid #e5e5e5;
  font-size: 14px;
  margin: 3px 0px;
  line-height: 1.6em;
}

.details-info:first-of-type {
  border-top: none;
}

.button {
  border: 1px solid #fdc435;
}

.add-to-planner-button {
  float: right;
}

.clearfix {
  clear: both;
}

.building-name {
  font-size: 30px;
  line-height: 30px;
  font-weight: 100;
  margin-bottom: 14px;
}

.building-address {
  margin-bottom: 12px;
  margin-top: -6px;
  font-size: 18px;
  line-height: 18px;
}

.building-details {
  padding: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
  border-top: 1px solid #e5e5e5;
  line-height: 1.6;
}

.detail_cell {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #e5e5e5;
}

.saves_count {
  margin-left: 7px;
}

.first_detail_cell {
  padding-left: 0px;
}

.last_detail_cell {
  border-right: 0px;
}

.actions-buttons {
  margin-left: -10px;
  margin-top: -10px;  
}

.actions {
  margin-top: 18px;
  margin-bottom: 18px;
}

.popularity {
  font-size: 14px;
  line-height: 1.6em;
  margin-top: 12px;
}

.yellow_button, .yellow_button:hover, .yellow_button:active, .yellow_button:focus, .yellow_button:link {
  border: 1px solid #fdc435;
  padding-left: 16px;
  padding-right: 16px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #1a1f2c;
  display: inline-block;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
}

.yellow_button:hover {
  background-color: #fdc435;
} 

.est-payment-overlay {
  border-bottom: 1px dashed #0080c6;
  float: left;
  cursor: pointer;
}

.est-payment, .est:payment:visited, .est-payment:focus {
  color: #0080c6;
}

.est-payment:hover, .est-payment:active {
  color: #004c75;
}

.price-change-arrow {
  position: relative;
  top: -4px;
}

.clearfix {
  clear: both;
}

.address {
  margin-top: 0px;
  font-size: 30px;
  font-weight: 100;
  height: 30px;
  margin-bottom: 12px;
}

.price {
  font-size: 27px;
  font-weight: bold;
  color: #1a1f2c;
  margin-top: 3px;
  margin-bottom: 8px;
}

.price-annotation {

  color: #62646a;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
}

#menu {
  display: none;
}

body {
  padding-top: 80px;
}

.navbar .navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: 0px;
}

.navbar .navbar-header {
  text-align: center;
  height: 100%;
}

.navbar .navbar-brand {
  line-height: 50px;
  color: mediumblue !important;
  font-family: 'Candal', sans-serif;
  padding-right: 50px !important;

}

.navbar .navbar-brand img{
  /*height: 50px;*/
  display: inline;
  vertical-align: bottom;
}

#jPanelMenu-menu {
  margin-top: 50px;
  padding-left: 30px;
  overflow-y:  hidden !important;
}

.vitals {
  border: 2px solid black;
  padding: 7px 14px;
  margin-top: 12px;
}

.details-heading.listed-by {
  margin-top: -6px;
  color: #999;
  font-size: 11px;
  display: block;
  line-height: 18px;
}

.col-xs-4:first-child {
  padding-left: 0 !important;
}

.col-xs-4:last-child {
  padding-right: 0 !important;
}

.poster-name, .poster-name:focus, .poster-name:link, .poster-name:visited, .poster-name:hover, .poster-name:active {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #0080c6;
  display: block;
}

#contact-seller-button {
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 14px;
}


.poster-promo {
  margin-top: 15px;
  margin-bottom: 25px;
}

.payment-amount {
  font-weight: bold;
}

.details-heading {
  font-size: 10px;
  text-transform: uppercase;
  margin-top: 14px;
  margin-bottom: 0px;
  color: #a1a1a1;
  font-weight: bold;
  line-height: 10px;
}

.amenities p {
  margin-bottom: 0;
}

.description, .highlights {
  font-size: 14px;
  line-height: 1.6em;
  padding-bottom: 14px;
}

.amenities ul {
  list-style: none;
  margin: 0 !important;
  padding: 0;
}

.amenities ul img {
  vertical-align: baseline;
  position: relative;
  top: 8px;
  margin-right: 13px;
}

.amenities {
  font-size: 14px;
  line-height: 1.6em;
  margin-bottom: 30px;
}


.big-separator {
  border-top: 4px solid #1a1f2c;
  padding-top: 2px;
}

.collapsible-description {
  margin-bottom: 14px;
}

.hr-large {
  border: 2px solid #1a1f2c;
  margin: 0px 0px 5px 0px;
}

.section-heading-h2 {
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1em;
  margin-top: 0px;
  margin-bottom: 12px;
}

.highlights .glyphicon {
  padding-right: 20px;
}

@media (min-width: 769px) {
  #jPanelMenu-menu {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    width: calc(100% - 60px);
    text-align: center;
  }
  .container {
    padding-left: 0px !important;
  }
}

.lSAction>a {
  background-image: none !important;
  color: white;
  background-color: rgba(0,0,0,0.2);
  font-size: 30px;
  line-height: 60px;
  vertical-align: middle;
  width: 40px !important;
  height: auto !important;
}

.lSAction>a:hover {
  color: white !important;
  background-color: black;
}

.lSAction .glyphicon {
  position: relative;
  top: 3px;
}

.lSNext {
  right: 0px !important;
}

.lSPrev {
  left: 0px !important;
}

.lSPager.lSGallery .active {
  border: 3px solid #0080c6;
  border-radius: 0px !important;
}

.lSPager.lSGallery li:hover {
  border-radius: 0px !important;
}

.listing-summary {
  border-top: 1px solid #1a1f2c;
  padding-top: 14px;
  padding-bottom: 14px;
}

.summary-address, .summary-address:link, .summary-address:visited, .summary-address:focus {
  font-size: 22px !important;
  line-height: 1.6em !important;
  color: #0080c6 !important;
}

.summary-price-info {
  margin-top: 6px;
}

.summary-price-info .price {
  font-weight: normal;
  font-size: 16px;
  margin-top: 3px;
}

.listing-summary .est-price-overlay {
  float: none;
}

#mortgagecalc td {
  width: 211px;
  box-sizing: content-box;
}

#mortgagecalc th {
  min-width: 130px;
}